<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
        <div class="ml-auto">
            <a href="/admin/categories" class="btn btn-outline-primary btn-sm mt-1">Categories</a>
            <a href="/admin/categories/trashed" class="btn btn-outline-primary btn-sm mt-1">Trashed</a>
        </div>
    </div>

    <!-- Content Row -->
    <form action="/admin/categories/<%= category.id %>" method="POST" class="bg-white shadow p-4 rounded" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" value="<%= old.name || category.name %>" required>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Category</label>
                <select name="parentCategory" id="category" class="form-control">
                    <option value="">Select Category</option>
                    <% categories.forEach(cat => { %>
                        <option value="<%= cat._id %>" <%= (old.parentCategory == cat._id || cat._id.equals(category.parentCategory)) ? 'selected' : '' %>>
                            <%= cat.name %>
                        </option>
                    <% }) %>
                </select>
            </div>

            <div class="col-12 mb-3">
                <label class="form-label">Icon (optional)</label>
                <input type="file" name="icon" class="form-control">
                <br>
                <img src="<%= category.icon ? '/uploads/' + category.icon : '/img/placeholder.png' %>" 
                    alt="<%= category.name %>" class="mb-3 w-25 border border-3 border-secondary rounded shadow">
            </div>

            <div class="col mb-3">
                <label class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control"><%= old.description || category.description %></textarea>
            </div>
        </div>

        <input type="submit" name="submit" class="btn btn-primary" value="Update" required />

    </form>
    <!--/Form -->

</div>
<!-- /.container-fluid -->