<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
        <div class="ml-auto">
            <a href="/admin/categories" class="btn btn-outline-primary btn-sm mt-1">Categories</a>
            <a href="/admin/categories/trashed" class="btn btn-outline-primary btn-sm mt-1">Trashed</a>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Slug</th>
                                <td><%= category.slug %></td>
                            </tr>

                            <tr>
                                <th>Parent Category</th>
                                <td>
                                    <%= category.parentCategory
                                        ? category.parentCategory.name
                                        : '—' %>
                                </td>
                            </tr>

                            <tr>
                                <th>Description</th>
                                <td><%= category.description || '—' %></td>
                            </tr>

                            <tr>
                                <th>Created At</th>
                                <td>
                                    <%= category.createdAt.toDateString() %>
                                    <small class="text-muted">
                                        (<%= timeAgo(category.createdAt) %>)
                                    </small>
                                </td>
                            </tr>

                            <tr>
                                <th>Updated At</th>
                                <td>
                                    <%= category.updatedAt.toDateString() %>
                                    <small class="text-muted">
                                        (<%= timeAgo(category.updatedAt) %>)
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-md-6">
                    <img src="<%= category.icon ? '/uploads/categories/' + category.icon : '/img/placeholder.png' %>" 
                        alt="<%= category.name %>" class="mb-3 w-50 border border-3 border-secondary rounded shadow">
                </div>
            </div>
            
        </div>
    </div>
    <!--/Form -->

</div>
<!-- /.container-fluid -->

