<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= title %></h1>
        <div class="ml-auto">
            <a href="/admin/vendors" class="btn btn-outline-primary btn-sm mt-1">Vendors</a>
            <a href="/admin/vendors/trashed" class="btn btn-outline-primary btn-sm mt-1">Trashed</a>
        </div>
    </div>

    <!-- Content Row -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Details</h6>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td><%= vendor.email %></td>
                    </tr>

                    <tr>
                        <th>Phone</th>
                        <td><%= vendor.phone || '—' %></td>
                    </tr>

                    <tr>
                        <th>Created At</th>
                        <td>
                            <%= vendor.createdAt.toDateString() %>
                            <small class="text-muted">
                                (<%= timeAgo(vendor.createdAt) %>)
                            </small>
                        </td>
                    </tr>

                    <tr>
                        <th>Updated At</th>
                        <td>
                            <%= vendor.updatedAt.toDateString() %>
                            <small class="text-muted">
                                (<%= timeAgo(vendor.updatedAt) %>)
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/Form -->

</div>
<!-- /.container-fluid -->

